.navbar {
    background-color: #feffff; 
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: sans-serif; 
    box-shadow: 0 4px 10px #dad6d6;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    
  }
  
  .navbarBrand{
    display: flex;
    align-items: center;
    color: var(--primary-color); 
    font-size: 2rem;
    font-weight: bold;
  }
  
  .logo {
    width: 40px; 
    margin-right: 10px;
  }
  
  .navbarMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbarItem {
    margin-right: 20px;
  }
  
  .navbarItem a {
    text-decoration: none;
    color: #7A7289; 
    font-weight: normal;
    font-size: 1.2rem;
  }

  .navbarItem a.active {
    font-weight: bold;
    color: var(--primary-color); 
  }
  
  .supportButton {
    background-color: transparent;
    border: 2px solid #7A7289; 
    color: #7A7289;
    padding: 10px 20px;
    border-radius: 25px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
  }
  
  .phoneIcon {
    width: 20px; 
    margin-right: 5px;
   
  }
  