.navbar {
  background-color: #feffff;
  padding: 0 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px #dad6d6;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
}

.navbarMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarBrand {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.navbarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbarItem {
  margin-right: 20px;
}

.navbarItem a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.2rem;
}

.navbarItem a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.supportButton {
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}

.burgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burgerMenu div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}
.phoneIcon {
  width: 20px;
  margin-right: 5px;
}

.supportButton:hover {
  background-color: var(--primary-color);
  color: white;
}

/* .......Resposive design....... */

@media (max-width: 768px) {
  .navbarMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #feffff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 10px #dad6d6;
  }

  .navbarMenu.active {
    display: flex;
  }

  .burgerMenu {
    display: flex;
  }

  .navbarBrand {
    font-size: 1.2rem;
  }

  .supportButton {
    font-size: 0.9rem;
  }
}
