.aboutUs {

  max-width: 1400px;
  margin: 0 auto;
  /* padding: 140px 40px; */
  padding: 7rem;
  text-align: center;
  height: 100vh;
}

.title {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  /* margin-bottom: 20px; */
}

.imageContainer {
  position: relative;
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.textContent {
  flex: 1;
  text-align:justify;
}

.description {
  font-size: 1.2rem;
  color: #7a7289;
  line-height: 1.6;
}

@media (max-width: 768px) {

  .content {
    flex-direction: column;
    text-align: center;
  }

  .textContent {
    text-align: center;
  }
}
