.aboutUs {
  max-width: 1400px;
  margin: 0 auto;
  padding: 8rem 7rem;
  text-align: center;
}

.title {
  font-size: var(--font-size-heading);
  color: var(--primary-color);
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.imageContainer {
  position: relative;
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.textContent {
  flex: 1;
  text-align: justify;
}

.description {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: var(--line-height-base);
  font-style: italic;
}

/* .....Responsive Design..... */

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .textContent {
    text-align: center;
  }
}
