.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.button {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: #F8D95A;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  animation: float 2s ease-in-out infinite;
}

.button:hover {
  background-color: #f2c926;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  width: 300px;
}

.title {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.message {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  line-height: 1.5;
}
