.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7rem;
  max-width: 1400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.left {
  flex: 1;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.navbarBrand {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.description {
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin-bottom: 10px;
}

.copyright {
  font-size: 12px;
  color: var(--text-color);
}

.center,
.right {
  flex: 1;
  padding-top: 5px;
}

.title {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.list {
  list-style: none;
  padding: 0;
  color: var(--text-color);
  font-size: 14px;
}

.list li {
  margin-bottom: 5px;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  font-size: 20px;
  color: #444;
  background-color: #e9f6f9;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  background-color: #d4e9f2;
}

/* .......Responsive Styles....... */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 7rem 2rem;
  }

  .left {
    text-align: center;
  }

  .center,
  .right {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 7rem 1rem;
  }
}
