.container {
    text-align: center;
    background-color: #E9F6F9;
    padding-top: 140px;
    padding-bottom: 60px;
   
  }

  .overlay {
   max-width: 1400px;
   margin: 0 auto;
  }
  
  .heading {
    font-size: 3rem;
    font-weight: semibold;
    margin-bottom: 40px;
    color: var(--primary-color);
  }
  
  .roles {
    display: flex;
    justify-content: center;
    gap: 100px;
  
    padding: 0 40px;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #dad6d6;
    text-align: center;
    width: 400px;
    /* height: 650px; */
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
  }
  
  .roleName {
    font-size: 16px;
    /* font-weight: bold; */
    margin: 10px 0;
  }
  
  .loginButton {
    width: 150px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #005f73;
  }
  